/* src/SignupPage.css */

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #c6c6c6;
    margin: 0;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    color: #ff5733;
    text-align: center;
    margin-bottom: 20px;
    transform: scale(1.2);
      /* background-color: #ffffff; */
  }
  
  @media (max-width: 600px) {
    .logo {
      font-size: 18px;
    }
  }
  
  .profile-preview {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-preview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  @media (max-width: 600px) {
    .profile-preview img {
      width: 50px;
      height: 50px;
    }
  }
  
  .signup-form div {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-form input,
  .signup-form select,
  .signup-form button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form button {
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #e64a19;
  }
  
  .signup-form .gender-radio {
    display: flex;
    gap:5px;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  
  @media (max-width: 600px) {
    .signup-form input,
    .signup-form select,
    .signup-form button {
      padding: 6px;
    }
  
    .signup-form .gender-radio {
      flex-direction: column;
    }
  }
  

  /* src/SignupPage.css */

.verify-otp {
    display: flex;
    justify-content: space-between;
  }
  
  .otp-input {
    flex: 1;
    margin-right: 10px;
  }
  
  .otp-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  @media (max-width: 600px) {
    .verify-otp {
      flex-direction: column;
    }
  
    .otp-actions {
      align-items: flex-start;
      margin-top: 10px;
    }
  }
  