/* Common Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  background-image  : linear-gradient(to right, rgb(195, 195, 196), rgb(216, 209, 211), rgb(82, 76, 82));


  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.signup-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #acacac;
  font-weight: 900;
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #8d59b8;
  text-align: center;
  margin-bottom: 20px;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .logo {
    font-size: 18px;
  }
}

.profile-preview {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .profile-preview img {
    width: 50px;
    height: 50px;
  }
}

.signup-form {
  display: grid;
  gap: 15px;
}

.signup-form div {
  display: grid;
  gap: 5px;
}

.signup-form label {
  margin-bottom: 5px;
}

.signup-form input,
.signup-form select,
.signup-form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  background-color: #a082b9;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.signup-form button:hover {
  
  background-color: rgb(98, 98, 98);
}

.signup-form .gender-dropdown {
  width: 100%;
}

.error {
  color: red;
  font-size: 0.9em;
}

.verify-otp {
  display: grid;
  gap: 10px;
}

.verify-otp button {
  align-items: center;
}

.otp-input {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
}

.otp-input input {
  -moz-appearance: textfield;
}

.otp-input input::-webkit-outer-spin-button,
.otp-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Mobile Input Styles */
.mobile-input {
  display: flex;
  flex-direction: column;
}

.phone-input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.phone-input-container .PhoneInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.phone-input-container .PhoneInput input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phone-input-container .PhoneInput .flag-dropdown {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-right: 1px solid #ccc;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  body {
    margin: 0;
  }

  .signup-container {
    padding: 10px;
    margin: 20px 20px;
  }

  .signup-form {
    gap: 10px;
  }

  .signup-form input,
  .signup-form select,
  .signup-form button {
    padding: 6px;
  }

  .verify-otp {
    gap: 10px;
  }

  .otp-input {
    flex-direction: column;
    gap: 10px;
  }

  .mobile-input .PhoneInput .flag-dropdown {
    padding: 0 5px;
  }

  .mobile-input .PhoneInput .flag-dropdown .flag {
    width: 20px;
    height: 15px;
  }
}
